<!-- Header -->
<app-header [rol]="'anonimo'"></app-header>

<main class="main">
    <section class="form provider-form">
        <div class="form__container container grid">
            <div class="form__data">
                <h2 class="section__title section__large-title form__title">Registro de <br><b>Proveedor</b></h2>
                <p class="section__description form__description">Completa el siguiente formulario para crear una cuenta:</p>
            </div>
            <form [formGroup]="formGroup" (ngSubmit)="crearProveedor()" class="form-imp grid provider-form__imp">

                <label> <!-- Nombre -->
                    <div class="label__top-cntr">
                        <h3 class="label__title">Nombre de la entidad</h3>
                        <i class="ri-information-fill label__info-icon" tooltip="Ingresa el nombre de tu empresa"></i>
                    </div>
                    <div class="label__bottom-cntr">
                        <input type="text" placeholder="Nombre .." class="label__input"
                            formControlName="nombre"
                            [ngClass]="{ 'label__input--success': f.nombre.touched && !f.nombre.errors, 'label__input--error': f.nombre.touched && f.nombre.errors }">
                        <i class="label__input--icon"
                            [ngClass]="{ 'ri-check-fill label__input--success-icon': f.nombre.touched && !f.nombre.errors, 'ri-close-fill label__input--error-icon': f.nombre.touched && f.nombre.errors }"></i>
                    </div>
                    <ul class="label__input-msg-cntr">
                        <li class="label__input-msg-item">Campo obligatorio</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.nombre.touched && f.nombre.errors?.required">El nombre de la empresa es requerido</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.nombre.touched && f.nombre.errors?.minlength">El nombre debe tener mínimo {{ f.nombre.errors?.minlength.requiredLength }} letras</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.nombre.touched && f.nombre.errors?.maxlength">El nombre debe tener máximo {{ f.nombre.errors?.maxlength.requiredLength }} letras</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.nombre.touched && f.nombre.errors?.pattern">Ingrese un nombre válido</li>
                        <li class="label__input-msg-item label__input-msg-item--success"
                            *ngIf="f.nombre.touched && !f.nombre.errors">Correcto!</li>                        
                    </ul>
                </label>

                <label> <!-- NIT -->
                    <div class="label__top-cntr">
                        <h3 class="label__title">NIT</h3>
                        <i class="ri-information-fill label__info-icon" tooltip="Ingresa el nit de tu empresa. (Ingrese unicamente los números, incluyendo el número de verificación)"></i>
                    </div>
                    <div class="label__bottom-cntr">
                        <input type="text" placeholder="NIT .." class="label__input"                            
                            formControlName="nit"
                            [ngClass]="{ 'label__input--success': f.nit.touched && !f.nit.errors, 'label__input--error': f.nit.touched && f.nit.errors }">
                        <i class="label__input--icon"
                            [ngClass]="{ 'ri-check-fill label__input--success-icon': f.nit.touched && !f.nit.errors, 'ri-close-fill label__input--error-icon': f.nit.touched && f.nit.errors }"></i>
                    </div>
                    <ul class="label__input-msg-cntr">
                        <li class="label__input-msg-item">Campo obligatorio - <b>Formato: XXXXXXXXX-0</b></li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.nit.touched && f.nit.errors?.required">El nit de la empresa es requerido</li>                 
                            <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.nit.touched && f.nit.errors?.nitExiste">El nit ya está en uso</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.nit.touched && f.nit.errors?.pattern">Ingrese un nit válido - <b>Formato: XXXXXXXXX-0</b></li>
                        <li class="label__input-msg-item label__input-msg-item--success"
                            *ngIf="f.nit.touched && !f.nit.errors">Correcto!</li>                                                    
                    </ul>
                </label>

                <label> <!-- Municipio -->
                    <div class="label__top-cntr">
                        <h3 class="label__title">Municipio</h3>
                        <i class="ri-information-fill label__info-icon" tooltip="Ingresa el municipio en el que se encuentra tu empresa"></i>
                    </div> 
                    <div class="label__bottom-cntr">
                        <select 
                            class="label__select"
                            formControlName="municipio"
                            [ngClass]="{ 'label__input--success': f.municipio.touched && !f.municipio.errors, 'label__input--error': f.municipio.touched && f.municipio.errors }">
                            <option [ngValue]="null" disabled>Seleccionar</option>
                            <option *ngFor="let municipio of municipios" [ngValue]="municipio.nombre">{{ municipio.nombre }}</option>                            
                        </select>
                    </div>
                    <ul class="label__input-msg-cntr">
                        <li class="label__input-msg-item">Campo obligatorio</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.municipio.touched && f.municipio.errors?.required">El municipio de la empresa es requerido</li>                       
                        <li class="label__input-msg-item label__input-msg-item--success"
                            *ngIf="f.municipio.touched && !f.municipio.errors">Correcto!</li>                        
                    </ul>                    
                </label>

                <label> <!-- Dirección -->
                    <div class="label__top-cntr">
                        <h3 class="label__title">Dirección</h3>
                        <i class="ri-information-fill label__info-icon" tooltip="Ingresa la dirección de tu empresa (opcional)"></i>
                    </div>
                    <div class="label__bottom-cntr">
                        <input type="text" placeholder="Dirección .." class="label__input"
                            formControlName="direccion"
                            [ngClass]="{ 'label__input--success': f.direccion.touched && !f.direccion.errors && qd > 0, 'label__input--error': f.direccion.touched && f.direccion.errors }">                        
                        <i class="label__input--icon"
                            [ngClass]="{ 'ri-check-fill label__input--success-icon': f.direccion.touched && !f.direccion.errors && qd > 0, 'ri-close-fill label__input--error-icon': f.direccion.touched && f.direccion.errors }"></i>
                    </div>
                    <ul class="label__input-msg-cntr">                        
                        <li class="label__input-msg-item">Campo opcional</li>                        
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.direccion.touched && f.direccion.errors?.minlength">La dirección debe tener mínimo {{ f.direccion.errors?.minlength.requiredLength }} caracteres</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.direccion.touched && f.direccion.errors?.maxlength">La dirección debe tener máximo {{ f.direccion.errors?.maxlength.requiredLength }} caracteres</li>                        
                        <li class="label__input-msg-item label__input-msg-item--success"
                            *ngIf="f.direccion.touched && !f.direccion.errors && qd > 0">Correcto!</li>                        
                    </ul>
                </label>

                <label> <!-- Teléfono -->
                    <div class="label__top-cntr">
                        <h3 class="label__title">Teléfono</h3>
                        <i class="ri-information-fill label__info-icon" tooltip="Ingresa el teléfono de tu empresa (fijo o celular)"></i>
                    </div>
                    <div class="label__bottom-cntr">
                        <input type="text" placeholder="Teléfono .." class="label__input"                            
                            formControlName="telefono"
                            [ngClass]="{ 'label__input--success': f.telefono.touched && !f.telefono.errors, 'label__input--error': f.telefono.touched && f.telefono.errors }">
                        <i class="label__input--icon"
                            [ngClass]="{ 'ri-check-fill label__input--success-icon': f.telefono.touched && !f.telefono.errors, 'ri-close-fill label__input--error-icon': f.telefono.touched && f.telefono.errors }"></i>
                    </div>
                    <ul class="label__input-msg-cntr">
                        <li class="label__input-msg-item">Campo obligatorio</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.telefono.touched && f.telefono.errors?.required">El teléfono de la empresa es requerido</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.telefono.touched && f.telefono.errors?.minlength">El teléfono debe tener mínimo {{ f.telefono.errors?.minlength.requiredLength }} números</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.telefono.touched && f.telefono.errors?.maxlength">El teléfono debe tener máximo {{ f.telefono.errors?.maxlength.requiredLength }} números</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.telefono.touched && f.telefono.errors?.pattern">Ingrese un teléfono válido</li>
                        <li class="label__input-msg-item label__input-msg-item--success"
                            *ngIf="f.telefono.touched && !f.telefono.errors">Correcto!</li>                        
                    </ul>
                </label>

                <label> <!-- Correo electrónico -->
                    <div class="label__top-cntr">
                        <h3 class="label__title">Correo Electrónico</h3>
                        <i class="ri-information-fill label__info-icon" tooltip="Ingresa el correo electrónico de tu empresa"></i>
                    </div>
                    <div class="label__bottom-cntr">
                        <input type="text" placeholder="E-mail .." class="label__input"
                            formControlName="email"
                            [ngClass]="{ 'label__input--success': f.email.touched && !f.email.errors, 'label__input--error': f.email.touched && f.email.errors }">                        
                        <i class="label__input--icon"
                            [ngClass]="{ 'ri-check-fill label__input--success-icon': f.email.touched && !f.email.errors, 'ri-close-fill label__input--error-icon': f.email.touched && f.email.errors }"></i>
                    </div>
                    <ul class="label__input-msg-cntr">                        
                        <li class="label__input-msg-item">Campo obligatorio</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.email.touched && f.email.errors?.required">El correo electrónico de la empresa es requerido</li>                        
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.email.touched && f.email.errors?.emailExiste">El correo electrónico ya está en uso</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.email.touched && f.email.errors?.email">Ingrese un correo electrónico válido</li>
                        <li class="label__input-msg-item label__input-msg-item--success"
                            *ngIf="f.email.touched && !f.email.errors">Correcto!</li>                                                    
                    </ul>
                </label>

                <label> <!-- Clave -->
                    <div class="label__top-cntr">
                        <h3 class="label__title">Clave</h3>
                        <i class="ri-information-fill label__info-icon" tooltip="Ingresa una clave de seguridad (Puede contener: minúsculas, mayúsculas, números y !?-)"></i>
                    </div> 
                    <div class="label__bottom-cntr">
                        <input type="password" placeholder="Clave .." class="label__input"
                            formControlName="clave"
                            [ngClass]="{ 'label__input--success': f.clave.touched && !f.clave.errors, 'label__input--error': f.clave.touched && f.clave.errors }">                        
                        <i class="label__input--icon"
                            [ngClass]="{ 'ri-check-fill label__input--success-icon': f.clave.touched && !f.clave.errors, 'ri-close-fill label__input--error-icon': f.clave.touched && f.clave.errors }"></i>
                    </div>
                    <ul class="label__input-msg-cntr">                        
                        <li class="label__input-msg-item">Campo obligatorio</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.clave.touched && f.clave.errors?.required">La clave es requerida</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.clave.touched && f.clave.errors?.minlength">La clave debe tener mínimo {{ f.clave.errors?.minlength.requiredLength }} caracteres</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.clave.touched && f.clave.errors?.maxlength">La clave debe tener máximo {{ f.clave.errors?.maxlength.requiredLength }} caracteres</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.clave.touched && f.clave.errors?.pattern">Ingrese una clave válida</li>
                        <li class="label__input-msg-item label__input-msg-item--success"
                            *ngIf="f.clave.touched && !f.clave.errors">Correcto!</li>                        
                    </ul>
                </label>

                <label> <!-- Confirmar clave -->
                    <div class="label__top-cntr">
                        <h3 class="label__title">Confirmar Clave</h3>
                        <i class="ri-information-fill label__info-icon" tooltip="Ingresa nuevamente la clave de seguridad"></i>
                    </div> 
                    <div class="label__bottom-cntr">
                        <input type="password" placeholder="Confirmar clave .." class="label__input"
                            formControlName="confirmarClave"
                            [ngClass]="{ 'label__input--success': f.confirmarClave.touched && !f.confirmarClave.errors, 'label__input--error': f.confirmarClave.touched && f.confirmarClave.errors }">                        
                        <i class="label__input--icon"
                            [ngClass]="{ 'ri-check-fill label__input--success-icon': f.confirmarClave.touched && !f.confirmarClave.errors, 'ri-close-fill label__input--error-icon': f.confirmarClave.touched && f.confirmarClave.errors }"></i>                    
                    </div>
                    <ul class="label__input-msg-cntr">                        
                        <li class="label__input-msg-item">Campo obligatorio</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.confirmarClave.touched && f.confirmarClave.errors?.required">Confirmar clave es requerido</li>                            
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.confirmarClave.touched && f.confirmarClave.errors?.wrongPass">Las claves no coinciden</li>
                        <li class="label__input-msg-item label__input-msg-item--success"
                            *ngIf="f.confirmarClave.touched && !f.confirmarClave.errors">Correcto!</li>                        
                    </ul>
                </label>

                <div class="form-imp__submit-button">
                    <button type="submit" class="button">Continuar</button>
                </div>

            </form>
        </div>
    </section>    
</main>