<!-- Header -->
<app-header [rol]="'anonimo'"></app-header>

<main class="main">
    <section class="form login-form">
        <div class="form__container container grid">
            <div class="form__data">
                <h2 class="section__title section__large-title form__title">Olvidé Mi <br><b>Clave</b></h2>
                <p class="section__description form__description">Completa el siguiente formulario para recuperar tu cuenta:</p>
            </div>
            <form [formGroup]="formGroup" (ngSubmit)="recuperarCuenta()" class="login-form__imp form-imp grid">

                <label> <!-- Correo electrónico -->
                    <div class="label__top-cntr">
                        <h3 class="label__title">Correo Electrónico</h3>
                        <i class="ri-information-fill label__info-icon" tooltip="Ingresa el correo electrónico con el que realizaste tu registro"></i>
                    </div> 
                    <div class="label__bottom-cntr">
                        <input type="text" placeholder="E-mail .." class="label__input"
                            formControlName="email"
                            [ngClass]="{ 'label__input--success': f.email.touched && !f.email.errors, 'label__input--error': f.email.touched && f.email.errors }">                        
                        <i class="label__input--icon"
                            [ngClass]="{ 'ri-check-fill label__input--success-icon': f.email.touched && !f.email.errors, 'ri-close-fill label__input--error-icon': f.email.touched && f.email.errors }"></i>
                    </div>
                    <ul class="label__input-msg-cntr">                        
                        <li class="label__input-msg-item">Campo obligatorio</li>
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.email.touched && f.email.errors?.required">El correo electrónico es requerido</li>                        
                        <li class="label__input-msg-item label__input-msg-item--error"
                            *ngIf="f.email.touched && f.email.errors?.email">Ingrese un correo electrónico válido</li>
                        <li class="label__input-msg-item label__input-msg-item--success"
                            *ngIf="f.email.touched && !f.email.errors">Correcto!</li>                        
                    </ul>
                </label>

                <div class="form-imp__submit-button">
                    <button type="submit" class="button">Continuar</button>
                </div>

            </form>
        </div>
    </section>
</main>