/* Poll */
.poll__item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .82rem;    
}

.poll__stars {
    display: flex;    
}

.poll__stars-btn {
    display: flex;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    align-items: center;
    justify-content: center;    
    background: var(--border-light-color);
    border-radius: 4px;
    border: 1px solid var(--title-color);
    outline: none;
    cursor: pointer;
    opacity: .4;
}

.poll__stars-btn:last-child {
    margin-right: 0;
}

.poll__stars-btn:hover  {
    background: var(--first-color);
    border-color: var(--first-color);
    opacity: 1;
}

.poll__stars-btn-active {
    background: var(--first-color);
    border-color: var(--first-color);
    opacity: 1;
}

.poll__stars-btn i {
    font-size: var(--h3-font-size);
    color: var(--title-color);
}

.poll__stars-btn:hover i {
    color: var(--white-color);
}

.poll__stars-btn-active i {
    color: var(--white-color);
}

.poll__emotion {
    display: flex;
    height: 2rem;
    align-items: center;
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.poll__submit-btn-cntr {
    display: flex;
    justify-content: end;
}

.poll__submit-btn {
    width: 100%;
    font-family: var(--body-font) !important;
    font-size: var(--normal-font-size);
}

/* Dispositivos medianos */
@media screen and (min-width: 768px) {

    .poll__submit-btn {
        width: 25%;        
    }

}