<!-- Header -->
<app-header [rol]="'anonimo'"></app-header>

<main class="main">
    <section class="email-msg">
        <div class="email-msg__container container grid">
            <div class="email-data">
                <img src="../../../../assets/img/validation-done.svg">
                <h2 class="section__title email-msg__title">Cuenta verificada <br> correctamente</h2>
                <p class="section__description email-msg__description">Tu cuenta ha sido verificada correctamente. Ahora puedes iniciar sesión.</p>
                <a class="button email-msg__button" (click)="redireccionar()">Iniciar sesión</a>
            </div>
        </div>
    </section>
</main>
